<div class="flex justify-center items-center">
  <div class="w-full max-w-sm sm:max-w-md md:max-w-lg rounded-lg shadow-md p-4">
    <div class="text-center mb-6">
      <h2 class="text-3xl md:text-4xl font-bold text-yellow-500">Join the Nahero team!</h2>
    </div>

    <form
      [formGroup]="registerForm"
      (ngSubmit)="handleSubmit()"
      class="flex flex-col gap-3 md:gap-4"
    >
      <div class="flex flex-col gap-1">
        <app-text-input
          placeholder="Full name"
          formControlName="name"
          class="w-full h-12"
        ></app-text-input>
        <span
          *ngIf="
            registerForm.get('name')?.invalid &&
            (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)
          "
          class="text-xs md:text-sm text-red-500"
        >
          {{ getErrorMessage('name') }}
        </span>
      </div>

      <div class="flex flex-col gap-1">
        <div class="flex w-full items-center justify-between">
          <div class="flex-grow w-full">
            <app-text-input
              [placeholder]="isPassportMode ? 'Passport Number' : 'CPF (000.000.000-00)'"
              [formControlName]="isPassportMode ? 'passportNumber' : 'cpf'"
              class="w-full h-12"
              (input)="isPassportMode ? null : formatCPF($event)"
            ></app-text-input>
          </div>
        </div>
        <div class="flex items-center mt-2 ml-1 whitespace-nowrap">
          <input
            type="checkbox"
            id="usePassport"
            class="w-4 h-4 text-yellow-600 rounded focus:ring-yellow-500"
            [checked]="isPassportMode"
            (change)="toggleIdentificationMethod()"
          />
          <label for="usePassport" class="ml-1 text-sm">Use passport number</label>
        </div>
        <span
          *ngIf="
            (isPassportMode &&
              registerForm.get('passportNumber')?.invalid &&
              (registerForm.get('passportNumber')?.dirty ||
                registerForm.get('passportNumber')?.touched)) ||
            (!isPassportMode &&
              registerForm.get('cpf')?.invalid &&
              (registerForm.get('cpf')?.dirty || registerForm.get('cpf')?.touched))
          "
        >
        </span>
      </div>

      <div class="flex flex-col gap-1">
        <app-text-input
          placeholder="Phone (00) 00000-0000"
          formControlName="phone"
          class="w-full h-12"
          (input)="formatPhone($event)"
        ></app-text-input>
        <span
          *ngIf="
            registerForm.get('phone')?.invalid &&
            (registerForm.get('phone')?.dirty || registerForm.get('phone')?.touched)
          "
          class="text-xs md:text-sm text-red-500"
        >
          {{ getErrorMessage('phone') }}
        </span>
      </div>

      <div class="flex flex-col gap-1">
        <app-checked-email-input
          placeholder="E-mail"
          formControlName="email"
          class="w-full h-12"
        ></app-checked-email-input>
        <span
          *ngIf="
            registerForm.get('email')?.invalid &&
            (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)
          "
          class="text-xs md:text-sm text-red-500"
        >
          {{ getErrorMessage('email') }}
        </span>
      </div>

      <div class="flex flex-col gap-1">
        <app-password-input
          placeholder="Password"
          formControlName="password"
          class="w-full h-12"
        ></app-password-input>
        <span
          *ngIf="
            registerForm.get('password')?.invalid &&
            (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)
          "
          class="text-xs md:text-sm text-red-500"
        >
          {{ getErrorMessage('password') }}
        </span>
      </div>

      <div class="flex flex-col gap-1">
        <app-password-input
          placeholder="Confirm password"
          formControlName="confirmPassword"
          class="w-full h-12"
        ></app-password-input>
        <span
          *ngIf="
            (registerForm.get('confirmPassword')?.invalid ||
              registerForm.hasError('passwordMismatch')) &&
            (registerForm.get('confirmPassword')?.dirty ||
              registerForm.get('confirmPassword')?.touched)
          "
          class="text-xs md:text-sm text-red-500"
        >
          {{ getErrorMessage('confirmPassword') }}
        </span>
      </div>

      <app-button
        [disabled]="isLoading"
        type="submit"
        variant="primary"
        fontSize="lg"
        fontWeight="bold"
        size="lg"
        width="full"
        class="bg-yellow-600 hover:bg-yellow-700 active:bg-yellow-800 rounded-md transition-colors"
      >
        <ng-container *ngIf="isLoading; else registerText">
          <app-tb-loader></app-tb-loader>
        </ng-container>
        <ng-template #registerText>Register</ng-template>
      </app-button>

      <div class="h-2 flex justify-center">
        <span *ngIf="successResult" class="text-sm text-green-500">{{ successResult }}</span>
        <span *ngIf="errorResult" class="text-sm text-red-500">{{ errorResult }}</span>
      </div>

      <div
        class="w-full bg-gray-100 p-3 rounded-md flex flex-wrap justify-center items-center gap-2"
      >
        <span class="text-gray-700 text-sm md:text-base">Already have an account?</span>
        <a
          class="font-bold cursor-pointer hover:underline text-yellow-700 text-sm md:text-base"
          (click)="navigateTo('/login')"
        >
          Login!
        </a>
      </div>
    </form>
  </div>
</div>
