<header class="text-white shadow-md">
  <div class="container mx-auto px-4 py-4">
    <div class="flex items-center justify-between">
      <div class="flex flex-row gap-3">
        <a href="/">
          <img src="/favicon.ico" width="30px" />
        </a>
        <a href="/" class="text-2xl font-bold text-yellow-500"> NaHero </a>
      </div>
      <nav class="hidden space-x-6 md:flex">
        <a href="/practice-exams" class="transition-colors hover:text-yellow-200"> Practice Exams </a>
        <a href="#" class="transition-colors hover:text-yellow-200"> Certifications </a>
        <a href="#" class="transition-colors hover:text-yellow-200"> About </a>
        <a href="#" class="transition-colors hover:text-yellow-200"> Contact </a>
      </nav>
      <div class="flex items-center space-x-3">
        <ng-container *ngIf="!isLoggedIn">
          <a
            routerLink="/login"
            class="rounded-md px-4 py-2 text-white transition-colors hover:bg-yellow-700"
          >
            Login
          </a>
          <a
            routerLink="/register"
            class="hidden rounded-md bg-yellow-700 px-4 py-2 text-white transition-colors hover:bg-yellow-500 md:inline-block"
          >
            Register
          </a>
        </ng-container>

        <button
          *ngIf="isLoggedIn"
          (click)="logout()"
          class="rounded-md bg-yellow-700 px-4 py-2 text-white transition-colors hover:bg-yellow-500"
        >
          Logout
        </button>
      </div>
    </div>
  </div>
</header>
