<div class="flex flex-col w-full sm:w-96 md:w-[750px] lg:w-[700px] md:h-[500px] mx-auto">
  <div class="text-center mb-10">
    <h2 class="text-3xl font-bold text-yellow-500">Já faz parte do time Nahero?</h2>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="handleSubmit()" class="flex flex-col gap-1">
    <div class="flex flex-col gap-1">
      <app-checked-email-input
        placeholder="E-mail"
        formControlName="identifier"
        class="w-full h-12"
      ></app-checked-email-input>
      <span
        *ngIf="
          loginForm.get('identifier')?.invalid &&
          (loginForm.get('identifier')?.dirty || loginForm.get('identifier')?.touched)
        "
        class="text-sm text-red-500"
      >
        {{ getErrorMessage('identifier') }}
      </span>
    </div>

    <div class="flex flex-col gap-1">
      <app-password-input
        placeholder="Senha"
        formControlName="password"
        class="w-full h-12"
      ></app-password-input>
      <span
        *ngIf="
          loginForm.get('password')?.invalid &&
          (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)
        "
        class="text-sm text-red-500"
      >
        {{ getErrorMessage('password') }}
      </span>
    </div>

    <div class="flex justify-start md:mt-2 md:mb-2">
      <a
        class="text-md font-bold cursor-pointer hover:underline text-brand-orange-gradient"
        (click)="navigateTo('/forgot-password')"
      >
        Esqueceu sua senha?
      </a>
    </div>

    <app-button
      [disabled]="isLoading"
      type="submit"
      variant="primary"
      fontSize="lg"
      fontWeight="bold"
      size="lg"
      width="full"
      class="bg-yellow-600 hover:bg-yellow-700 h-10 rounded-md"
    >
      <ng-container *ngIf="isLoading; else loginText">
        <app-tb-loader></app-tb-loader>
      </ng-container>
      <ng-template #loginText>Entrar</ng-template>
    </app-button>

    <div class="h-6 flex justify-center mt-2">
      <span *ngIf="successResult">{{ successResult }}</span>
      <span *ngIf="errorResult" class="text-red-500">{{ errorResult }}</span>
    </div>

    <div
      class="w-full bg-gray-200 p-1 md:p-3 rounded-md flex justify-center items-center md:mt-6 gap-3"
    >
      <span class="text-gray-700 md:ml-0 ml-3">Novo por aqui?</span>
      <a
        class="font-bold cursor-pointer hover:underline text-yellow-700 rounded-md"
        (click)="navigateTo('/register')"
      >
        Cadastre-se agora!
      </a>
    </div>
  </form>
</div>
